<div class="row">
  <div class = "col-md-2"></div>
  <div class="col-md-6">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <div class="mb-3">
        <label for="inputFullName" class="form-label">Full Name</label>
        <input
          type="text"
          class="form-control"
          id="inputNameSurname"
          placeholder="Name Surname"
          formControlName="nameSurname"
          [ngClass]="{ 'is-invalid': component.nameSurname.errors }"
        />
        <small
          class="form-text text-muted"
          *ngIf="submitted && component.nameSurname.errors?.required"
          >Name can't be empty!</small
        >
        <small
          class="form-text text-muted"
          *ngIf="
            submitted &&
            (component.nameSurname.errors?.maxlength ||
              component.nameSurname.errors?.minlength)
          "
          >Name must be between 3 and 30 character.</small
        >
      </div>
      <div class="mb-3">
        <label for="inputUsername" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="inputUsername"
          placeholder="Username"
          formControlName="username"
          [ngClass]="{ 'is-invalid': component.username.errors }"
        />
        <small
          class="form-text text-muted"
          *ngIf="submitted && component.username.errors?.required"
          >Username can't be empty!</small
        >
        <small
          class="form-text text-muted"
          *ngIf="
            submitted &&
            (component.username.errors?.maxlength ||
              component.username.errors?.minlength)
          "
          >Username must be between 3 and 30 character.</small
        >
      </div>
      <div class="mb-3">
        <label for="inputEmail" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="inputEmail"
          aria-describedby="emailHelp"
          placeholder="Email address"
          formControlName="email"
          [ngClass]="{ 'is-invalid': component.email.errors }"
        />
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
        <small
          class="form-text text-muted"
          *ngIf="submitted && component.email.errors?.required"
          >Email can't be empty.</small
        >
        <small
          class="form-text text-muted"
          *ngIf="submitted && component.email.errors?.email"
          >Please enter a valid e-mail.</small
        >
      </div>
      <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="inputPassword"
          placeholder="Password"
          formControlName="password"
          [ngClass]="{ 'is-invalid': component.password.errors }"
        />
        <small
          class="form-text text-muted"
          *ngIf="submitted && component.password.errors?.required"
          >Please enter a password.</small
        >
      </div>
      <div class="mb-3">
        <label for="inputPasswordConfirm" class="form-label"
          >Password validation</label
        >
        <input
          type="password"
          class="form-control"
          id="inputPasswordConfirm"
          placeholder="Re-enter password"
          formControlName="passwordConfirm"
          [ngClass]="{ 'is-invalid': component.passwordConfirm.errors }"
        />
        <small
        class="form-text text-muted"
        *ngIf="submitted && component.passwordConfirm.errors?.required"
        >Please enter password again.</small
      >
      <small *ngIf="submitted && form.hasError('notSame')">Please confirm password!</small>
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>
</div>
