.container-fluid {
    display: contents;
    justify-content: space-between;
    flex-direction: row;
}
.card {
    background-color: rgba(225, 192, 134, 0.407);
    border-radius: 1.2rem;
}

.card-img-top {
    padding-top: 12px;
}


