.order-detail-table {
    width: 100%;
    background-color: rgba(236, 236, 236, 0.317);
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
}

.order-detail-row-is-clicked {
    font-weight: bold;
}

.card {
    background-color: rgba(236, 236, 236, 0.317);
    
}
.card :hover {
    color: blue;
}

.span {
    font-size: small;
}

.orderCode :hover {
    color: rgb(231, 88, 0);

}
