<h2 mat-dialog-title>Order detail</h2>
<mat-dialog-content class="mat-typography">
  <mat-toolbar class = "orderCode">
    <span class = "span">Code : {{singleOrder.orderCode}}</span>
  </mat-toolbar>
  <table mat-table [dataSource]="dataSource" class="order-detail-table">
    
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>
  
    <!-- price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>price</th>
      <td mat-cell *matCellDef="let element">{{element.price | currency : '$'}}</td>
    </ng-container>
  
    <!-- quantity Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>quantity</th>
      <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
    </ng-container>
    <!-- totalPrice Column -->

    <ng-container matColumnDef="totalPrice">
      <th mat-header-cell *matHeaderCellDef>Total Price</th>
      <td mat-cell *matCellDef="let element">{{(element.price * element.quantity) | currency : '$'}}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
        mat-row
        (click)="clickedRows.add(row)"
        [class.order-detail-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>
  <mat-card class = "card">
    <span class = "span">Total : {{orderTotalPrice | currency : '$'}}</span>
  </mat-card>
  <mat-card  class = "card">
    <span class = "span">
      Adress : 
      {{singleOrder.address}}
    </span>
  </mat-card>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button [mat-dialog-close] = "data" cdkFocusInitial>Complete</button>
</mat-dialog-actions>