.tree {
    width: 500px;
}

.assign-btn {
    position: absolute;

    right: 155px;

    background-color: #b0e0e6;
}

.controllerName {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 20px;
}
