<mat-list role="list">
  <a class="nav" mat-list-item role="listitem" routerLink="/admin"> Dashboard</a>
  <a class="nav" mat-list-item role="listitem" routerLink="customers">Customers</a>
  <a class="nav" mat-list-item role="listitem" routerLink="products">Products </a>
  <a class="nav" mat-list-item role="listitem" routerLink="categories">Categories </a>
  <a class="nav" mat-list-item role="listitem" routerLink="orders">Orders </a>
  <a class="nav" mat-list-item role="listitem" routerLink="authorize-menu">Authorize Menu </a>

  <br><br><br>
  <br><br><br>
  <br><br><br>
  <br><br><br>
  <br><br><br>
  <br><br><br>
  <br><br><br>
  <br><br><br>
  <br><br><br>
  <a class="home" mat-list-item role="listitem" routerLink="">Go to site. </a>
</mat-list>