<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Shopping Cart</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="basketItem-{{basketItem.basketItemId}}" *ngFor="let basketItem of basketItems; ">
                            <td>{{basketItem.name}}</td>
                            <td>{{basketItem.price}}</td>
                            <td><input type="number" [value]="basketItem.quantity" data-id="{{basketItem.basketItemId}}"
                                    (change)="changeItemQuantity($event)"></td>
                            <td>
                                <button type="button" class="btn btn-danger"
                                    (click)=removeBasketItem(basketItem.basketItemId)>X</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-success">Complete purchase</button>
                <button type="button" class="btn btn-warning">Go detailed basket</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>